body {
    font-family: "Fira Sans",sans-serif;
    background: #E3E3E3 none repeat scroll 0% 0%;
    font-size: 15px;
    line-height: 26px;
    color: #333;
}

ul {
  padding: 0px;
}

.profile .profile-picture {
    display: block;
    position: relative;
    margin: 5px auto;
    border: 5px solid #FFF;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-out 0s;
}

.sidebar {
    padding: 0px 10px;
    background: #fff url("../images/background-image.jpg") no-repeat 0% 0%;
    background-size: cover;
    color: #fff;
    z-index: 10;
    text-align: center;
    box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 220px;
    height: 100%;
    min-height: 650px;
    padding: 0px 20px;
    border-right: 3px solid rgb(255, 126, 130);
}

.profile h2 {
    color: #fff;
    text-align: center;
    border-bottom: 1px solid rgba(255, 253, 253, 0.37);
    margin-bottom: 5px;
    padding-bottom: 15px;
}

.content {
    margin-left: 220px;
    /*background-color: */
}

.profile-info {
    max-width: auto;
    margin: 20px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #DDD;
}



.aboutMe {
    padding: 10px 25px 20px;
    text-align: center;
}

footer {
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color: rgb(255, 126, 130);
    height:20px;
}
/* IE 6 */
* html footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

.navigation {
  list-style-type: none;
  text-align: left;
  margin-left: 10px;
  padding: 0px;
}

.profile-links {
  padding: 10px;
}

.glyphicon {
  margin: 10px;
  color: #fff;
}
.navigation > li {
  font-size: 16px;
  padding-bottom: 3px;
}

.navigation > li.active {
  background-color: rgb(255, 126, 130);
  border-radius: 3px;
}

.navigation > li > a {
  font-size: 16px;
  text-decoration: none;
  color:#fff;
}

.profile-description {
  border-bottom: 1px solid rgba(255, 253, 253, 0.37);
  opacity: 0.7;
}

#github {
  height: 2.3em;
  margin-left: 3px;
}

#linkedin {
  height: 2.8em;
}

.profile-links > li > a > img {
    height: 2.5em;
    opacity: 0.7;
}

.profile-links > li {
    display: inline;

}
.profile-links > li > a {
  background: transparent none repeat scroll 0% 0%;
  text-decoration: none;
}
.profile-header {
    margin: 0px;
    padding:20px;
}

.profile-header {
    overflow: hidden;
    text-align: center;
}
h2.profile-header:before,
h2.profile-header:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%;
}
h2.profile-header:before {
    right: 0.5em;
    margin-left: -50%;
}
h2.profile-header:after {
    left: 0.5em;
    margin-right: -50%;
}

.resumeDownload a {
  text-decoration: none;
  color: rgb(255, 126, 130);
}

.resumeDownload {
  padding: 7px 16px;
  font-size: 12px;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  background-color: rgb(255, 126, 130);
  border-color: rgb(255, 126, 130);
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  transition: background-color 0.1s linear 0s, color 0.1s linear 0s;
  width: 130px;
  text-align: center;
  margin: auto;
}

.resumeDownload:hover {
  background-color: rgb(255, 126, 130);
}
.resumeDownload:hover a {
  color: #fff;
}

.work {
  margin: 20px;
}

.logo {
  text-align: center;
}

/*.logo {
  width: 30%;
  float:left;
}

.pictureLogo {
  width: 100%;
}

.descriptWork {
  float:left;
}*/
