body {
    font-family: "Fira Sans",sans-serif;
    background: #E3E3E3 none repeat scroll 0% 0%;
    font-size: 15px;
    line-height: 26px;
    color: #333;
}

ul {
  padding: 0px;
}

.profile .profile-picture {
    display: block;
    position: relative;
    margin:15px auto;
    border: 5px solid #FFF;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-out 0s;
}

.sidebar {
    padding: 0px 10px;
    background: #fff url("../images/background-image.jpg") no-repeat scroll 0% 0%;
    background-size: cover;
    color: #fff;
    z-index: 10;
    text-align: center;
    box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    overflow-y: auto;
    left: 0px;
    top: 0px;
    width: 220px;
    height: 100%;
    padding: 0px 20px;
    border-right: 3px solid rgb(255, 126, 130);
}

.profile h2 {
    color: #fff;
    text-align: center;
    border-bottom: 1px solid rgba(255, 253, 253, 0.37);
    margin-bottom: 5px;
    padding-bottom: 15px;
}

.content {
    margin-left: 220px;
    /*background-color: */
}

.profile-info {
    max-width: auto;
    margin: 20px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #DDD;
}



.aboutMe {
    padding: 10px 25px 20px;
    text-align: center;
}

footer {
    position: relative;
    bottom:0;
    left:0;
    width:100%;
    background-color: rgb(255, 126, 130);
    height:30px;
}

#footer {
  float: right;
  color: #fff;
  margin-right: 10px;
}

.navigation {
  list-style-type: none;
  text-align: left;
  margin-left: 10px;
  padding: 0px;
}

.profile-links {
  padding: 10px;
}


.glyphicon {
  margin: 10px;
  color: #fff;
}
.navigation > li {
  font-size: 16px;
  padding-bottom: 3px;
}

.navigation > li.active {
  background-color: rgb(255, 126, 130);
  border-radius: 3px;
}

.navigation > li > a {
  font-size: 16px;
  text-decoration: none;
  color:#fff;
}

.profile-description {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 253, 253, 0.37);
  opacity: 0.7;
}

#github {
  height: 2.3em;
  margin-left: 3px;
}

#linkedin {
  height: 2.8em;
}

.profile-links > li > a > img {
    height: 2.5em;
    opacity: 0.7;
}

.profile-links > li {
    display: inline;

}
.profile-links > li > a {
  background: transparent none repeat scroll 0% 0%;
  text-decoration: none;
}

.profile-links > li > a:hover > img {
  opacity: 1;
}

.profile-header {
    margin: 0px;
    padding:20px;
}

.profile-header {
    overflow: hidden;
    text-align: center;
}
h2.profile-header:before,
h2.profile-header:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%;
}
h2.profile-header:before {
    right: 0.5em;
    margin-left: -50%;
}
h2.profile-header:after {
    left: 0.5em;
    margin-right: -50%;
}

.resumeLink {
  text-decoration: none;
  color: rgb(255, 126, 130);
}

.resumeDownload {
  padding: 7px 16px;
  font-size: 12px;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  background-color: rgb(255, 126, 130);
  border-color: rgb(255, 126, 130);
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  transition: background-color 0.1s linear 0s, color 0.1s linear 0s;
  width: 130px;
  text-align: center;
  margin: auto;
}

.resumeDownload:hover {
  background-color: rgb(255, 126, 130);
}
.resumeLink:hover {
  color: #fff;
  text-decoration: none;
}

.work {
  margin: 20px;
}

.logo {
  text-align: center;
}

.pictureLogo, .pictureLogoEdu {
  width: 90%;
  margin-top: 30px;
}

.pictureLogoEdu {
  margin-left: 30px;
}

.societyName a, .societyName {
  color: #4285F4;
}

.societyName a {
  font-weight: bold;
}

.societyName a:hover {
  color: #0B2A4A;
  text-decoration: none;
  font-style: bold;
}

.city {
  color: rgb(255, 126, 130);
}

#sjtu > div > a > img {
  width: auto;
  height: 135px;
  margin-top: 0px;
}
.skills {
  margin-left: 30px;
}
.skills > h3 {
  font-weight: bold;
  margin-bottom: 20px;
}
.dev {
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
}

.dev > li > img {
  max-height: 80px;
}

.dev > li {
    display: inline;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    margin: 0px 10px 10px 0px;
    max-width: 100px;
}

.skillCardFooter {
    flex: 1 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    color: #616161;
}
